* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

em,
i {
    font-style: none;
}

li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

button {
    cursor: pointer;
}

a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #e33333;
}

button,
input {
    font-family: 'Microsoft YaHei', tahoma, arial, 'Hiragino Sans GB', \\5B8B\4F53, sans-serif;
    /* 取消input的轮廓线 */
    outline: none;
}

.none {
    display: none;
}


/* 清除浮动 */

.clearfix::after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    *zoom: 1;
}